.SearchInput {
  padding: 10px 20px;
  width: 100%;
  background: var(--secondary-color);
  border-radius: 8px;
  border: none;
  outline: none;
  cursor: pointer;
  transition: .3s ease-in-out;
  color: #fff;
  font-size: 24px;

  &::placeholder {
    color: #fff;
  }
}